# Quarto - Carpetas de salida y temporales
/.quarto/
**/*.quarto_ipynb
**/_book/
/docs/
/_site/
/_freeze/

# Sistemas operativos
.DS_Store
Thumbs.db

# Extensiones de editores
.vscode/
.idea/

# Archivos de log y temporales
*.log
*.tmp

# Archivos temporales de LaTeX
*.tex
*.log
*.aux
*.out
*.toc
*.pdf
*.fdb_latexmk
*.fls